//Font
$default-font: "TT Hoves", sans-serif;
$secondary-font: "Gotham Pro", sans-serif;

//Colors
$color-lightest-grey: #f9f9f9;
$color-light-grey: #f3f5fa;
$color-grey: #8093ac;
$color-dark-grey: #32495e;
$color-red: #e95258;

//Gradients

$gradient-primery-color: linear-gradient(#99dbff 100%, #1d44a0 100%);
$gradient-primery-color: linear-gradient(#00d1ff 100%, #222ae2 100%);

//Size

$containerWidth: 1200px;
